ul.nav {
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding-left: 0px;
  background-color: #fff;
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
  font-weight: 400;
}

ul.nav li:nth-child(1) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


ul.nav li:nth-child(3) {
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
ul.nav li:hover {
  color: #000;
  background: #adedff;
}
ul.nav li.active {
  color: #fff;
  background: #2196F3;
}