.app__inner {
  display: flex;
  flex-direction: row;
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .logomain {
    margin-bottom: 50px;
  }
}

.logo-spinner {
  margin-bottom: 50px;
  animation: spinner;
  animation-duration: 10s; 
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
}

@keyframes spinner {
  0% {
    transform:rotate(0deg);
  } 
  100% {
    transform:rotate(360deg);
  }
}


