.Content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-left: 23px;
  margin-bottom: 40px;
  & button {
    width: 502px;
    height: 50px;
    border: none;
    background-color: #2196F3;
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    & :hover {
      background-color: #fff;
    }
  }
}